.conten{
    width: 80%;
    height: 100%;
    position: relative;
    margin: 100px auto;
    /* display: flex; */
}

/* Blocks */

.blocks{
    /* width: 350px; */
    /* height: 435px; */
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    margin: 20px 25px;
    box-sizing: border-box;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .blk-text{
    text-align: center;
    color:#007bff;
  }

  .slick-list{
      height: 300px;
  }

  
.stor{
    background-image: url(../sets/image/reit.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin:0px 20px;
    background-position: center;
}

  
.todo{
    background-image: url(../sets/image/todo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin:0px 20px;
    background-position: center;
}

.nytim{
    background-image: url(../sets/image/neyrk.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;
    background-position: center;
}

.finkin{
    background-image: url(../sets/image/finkin.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;
    background-position: center;
}
.anro{
    background-image: url(../sets/image/anr.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;
    background-position: center;

    /* width: 1485px;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; */

}
.slick-slide{
    height: 200px !important;
}

.slick-prev:before, .slick-next:before{
    color: #0b086c !important;
}
/* intentionally making all para colors green */
p:hover,
a:hover{
    text-decoration: none !important;
    color: green !important;
}