.conten{
    width: 80%;
    height: 100%;
    position: relative;
    margin: 100px auto;
    /* display: flex; */
}

/* Blocks */

.blocks{
    /* width: 350px; */
    /* height: 435px; */
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    margin: 20px 25px;
    box-sizing: border-box;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .blk-text{
    text-align: center;
  }

  .slick-list{
      height: 300px;
  }

.akt{
    background-image: url(../assets/imes/akt.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;

    /* width: 1485px; */
    /* height: 80%; */
    /* margin: 25px; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; */
}

.stor{
    background-image: url(../assets/imes/reit.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 300px; */
    margin:0px 20px;
    background-position: center;


    /* width: 1485px;
    height: 80%;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; */
    
}

.nytim{
    background-image: url(../assets/imes/neyrk.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;
    background-position: center;

    /* width: 1485px;
    height: 80%;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; */

}

.finkin{
    background-image: url(../assets/imes/finkin.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;
    background-position: center;

    /* width: 1485px;
    height: 80%;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; */

}
.anro{
    background-image: url(../assets/imes/anr.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    /* height: 250px; */
    margin:0px 20px;
    background-position: center;

    /* width: 1485px;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; */

}
.slick-slide{
    height: 200px !important;
}

.slick-prev:before, .slick-next:before{
    color: #0b086c !important;
}