body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", */
    /* "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", */
    /* sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Inconsolata', monospace !important; */
  /* font-family: 'Shadows Into Light', cursive !important; */
  font-family: 'Signika', sans-serif !important;
  /* font-family: 'Tomorrow', sans-serif !important; */
  /* font-family: 'Cinzel', serif !important; */
  /* font-family: 'Caveat', cursive !important; */
  /* font-family: 'Orbitron', sans-serif !important; */
  /* font-family: 'Great Vibes', cursive !important;  */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.ap-saa{
  width: 90%;
  background: #fdd200;
  border-top: 2px dashed #212121;
  max-width: 85%;
}

/* Home */

div.home-pics{
  width: auto;
  /* height: 400px; */
  display: flex;
  justify-content: space-around;
}
div.croson{
  background-image: url(./sets/imes/croisson.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  height: 300px;
  background-position: center;
}
div.laptop{
  background-image: url(./sets/imes/laptop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 269px;
  height: 222px;
  background-position: center;
}
div.cup{
  background-image: url(./sets/imes/cup.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 269px;
  height: 222px;
  background-position: center;
}

@media only screen and (max-width: 530px) {
  .home-main{
    background-color: #F7CC01;
    height: 300px;
  }
  .home-pics{
    height:300px;
  }
  div.cup, div.croson, div.laptop{
    display: none;
  }
}
@media only screen and (min-width: 1047px) {
  .home-main{
    /* background-image: url(./sets/imes/home-panel.png); */
    background: #F7CC01;
    height: 440px;
  }
}

.home-main{
  width: auto;
  /* height: 600px; */
  background-color: #F7CC01;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-name{
  text-align: center;
  font-weight: bold;
  font-size: 75px;
}
.home-quote{
  text-align: center;
  font-weight: bold;
}

.home-light::before{
  /* content: '||||||||--------|||||||||'; */
  /* position: relative; */
  /* bottom: 17px; */
}
.home-light{
  margin: 20px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 1px dashed;
  /* border-top: solid 5px; */
  text-align: center;
}

/* Navbar */

button.navbar-toggler {
  border:1px solid #fdd200 !important;
  border-color: #fdd200;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #fad663;
}

a.nav-link{
  color: white !important;
  text-transform: uppercase;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
}
a.nav-link:hover{
  background:#fdd200;
  color: black !important;
}

/* .navbar{
  height: 75px;
} */


/* Form */
textarea.msg{
  width: 80%;
  margin: 10px auto;
  height: 341.2px;
  outline: 2px solid;
}
input.email{
  width: 80%;
  margin: 30px auto;
  height: 41px;
  outline: 2px solid;
}
.sendBut:hover{
  background: #212121;
  color: #F7CC01;

}

.form-send{
  margin: auto;
  position: relative;
}

.invisConten{
  position: relative;
  margin: auto;
}

.invis{
  width: 134px;
  height: 73px;
  background: transparent;
  margin: auto;
  position: absolute;
  z-index: 1;
}

.sendBut{
  width: 134px;
  height: 43px;
  background: transparent;
  border-radius: 25px;
  border: 1px solid;
  font-size: 25px;
  margin: 15px auto;
}
span.shutle{
  width: 50px;
  margin: auto;
  height: 50px;
  position: relative;
  top: -2px;
}

/* Tehtava */
.box {
  width: 350px;
  height: 435px;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19); */
  margin: 20px 25px;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
}


.pic{
    display: flex;
    border-radius: 5px 20px 5px;
    background-color: #F7CC01;
    width: 106px;
    margin: 7px auto;
    border-radius: 10px;
    height: 100px;
}

.tit-le{
  text-align: center;
  margin: 10px auto;
  /* font-weight: bold; */
}

.teh-text{
  text-align: justify;
}

div.cont-ener{
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  div.cont-ener {
    display: flex;
    flex-direction:column;
  }

  div.box {
    height: 375px;
  }
}


/* Footer */

.fo-box{
  height: 180px;
  width: 350px;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  margin: 20px 25px;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.foot-cont{
  width: auto;
  height: 400px;
  background: #2c3e50;
  position: relative;
}

.fo-links:hover{
  background: #F7CC01;
}
.fo-ulist{
  list-style: none;
  display: flex;
  justify-content: center;
}
.fo-ulist > li{ 
  margin: 6px;
}
.fo-links{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  text-decoration: none; 
}
.fo-title{
  font-size: 25px;
  text-align: center;
    color: white;
    font-weight: bold;
}
.fo-text{
  text-align: center;
  color: white;
}

div.foot-cont{
  display: flex;
  /* margin: 20px auto; */
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  div.foot-cont {
    display: flex;
    flex-direction:column;
    height: 600px;
    justify-content: center;
  }
  div.fo-box{
    height: 120px;
    padding: 0;
    margin: 17px auto;
  }
}

.fo-botom{
  background:#233140;
  height: 70px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  color: white;
  display: flex;
}
.inlow{
  width: 72%;
  height: 21%;
  margin: auto;
  display: block;
  text-align: center;
}

